/* author: Handika Putra  */
/* github account: https://github.com/HanPutra */

/* fonts */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2");
}
/* end of fonts */

/* global variable */
:root {
  --dark: #1f1f1f;
  --light: #e0e0e0;
}
/* end of global variable */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fix overflow because display flex or grid */
html {
  overflow-x: hidden;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: var(--dark);
}

/* header */
header {
  width: 100vw;
  height: 10vh;
  background-color: var(--light);
  position: fixed;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header img {
  height: 100%;
  display: block;
}
header h1 {
  color: var(--dark);
  font-weight: 700;
  font-size: 2rem;
}
/* end of header */
