/* author: Handika Putra  */
/* github account: https://github.com/HanPutra */

/* fonts */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2");
}
/* end of fonts */

/* global variable */
:root {
  --dark: #1f1f1f;
  --light: #e0e0e0;
  --regular: 400;
  --semibold: 600;
  --bold: 700;
}
/* end of global variable */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fix overflow because display flex or grid */
html {
  overflow-x: hidden;
}

body {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: var(--dark);
  color: var(--light);
}

/* header */
header {
  width: 100vw;
  height: 10vh;
  background-color: var(--light);
  position: fixed;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header img {
  height: 100%;
  display: block;
}
header h1 {
  color: var(--dark);
  font-weight: var(--bold);
  font-size: 2rem;
}
/* end of header */

/* nav */
nav {
  height: 10vh;
  position: fixed;
  right: 0;
  padding: 0 1.5rem;
}
nav ul {
  height: 100%;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  color: var(--dark);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: var(--semibold);
}
/* end of nav */

main {
  width: 100%;
  min-height: 100%;
}

/* about */
.about {
  display: flex;
  gap: 6rem;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.about .about-text {
  max-width: 45vw;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: var(--semibold);
  border-radius: 1.5rem;
  color: var(--dark);
  background-color: var(--light);
}
.about .about-image {
  width: 33.3vh;
  height: 33.3vh;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: var(--light);
}
.about .about-image img {
  width: 100%;
  position: absolute;
}
/* end of about */
